<td>
	{{burger_name}}
</td>
<td>
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat em!{{else}}Make em!{{/if}}
	</button>
</td>
<td>
	<button class="delete-burger" data-id="{{this.id}}">Throw em away!</button>
</td>
